<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Иван</h1>
<p>
    B  это мой первый проект на Dgango, который был моздан процессе обучения Python.
    <center><h3>Немного о себе:</h3></center>
    Мне 37 лет, большую часть своей рабочей карьеры проработал инженером-интегратором. 
    Занимался интеграцией решений по инветаризации и учету програмного обеспеченния 
    и используемых лицензий, системами мониторинга инфраструктуры. В момент написания 
    почти полноценной системы учета лицензий на смеси PowerShell и SQL, что пришлось 
    делать из-за процсчета в проэктировании системы и недостаточном тестировании 
    перед внедрением. Я понял что мне нравиться програмировать и захотелось освоить Python.
    <hr>
    <center><h4>Хобби:</h4></center>
    <ul>
    <li><b>Фотография</b>, любимые направления это пейзажи, 
        макро в этих направления часто вхожу в top 10% в фотоконкурсах. 
        Так же нравиться фотографировать диких животных, но нехватет аппарутры</li>
    <li><b>Походы</b>.
        Люблю длительные автономные походы, особенно горные. 
        Но время отпуска ограниченно, так что часто хожу и по ближайшим лесам по выходным. 
        Самый запомнившейся поход, это двухнедельный поход по Алтаю.</li>
    <li><b>Велоспорт</b>. Обожаю кататься на велосипеде. 
        Часто езжу на веломипеде на работу до глубокой осени 
        и с велоклубом по выходым в длительные поездки по 100+ км</li>   
            </ul>
    <hr> 
</p>
{% endblock %}